// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style-list {
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    td{
        padding: 10px 0;
    }
}

.title-style {
    text-align: center;
}

.add-new-movie {
    width: 100%;
    text-align: center;
}